<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Admin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section style="margin-top: 50%; margin-bottom: 50%; padding-right: 30px; padding-left: 30px">
    <header style="font-size:160%; color: rgb(72, 1, 87)" class="ion-text-center">{{ content }}</header>
    <ion-row>
      <ion-col>
        <ion-button class="my-button" type="button" full (click)="goToAdmin()" [disabled]="!isLoggedIn" color="success" expand="block">Click me</ion-button>
      </ion-col>
  </ion-row>
</section>
</ion-content>
