<ion-app>
<ion-split-pane contentId="content">
  <ion-menu contentId="content" type="overlay">
    <ion-content>
      
      <ion-list id="inbox-list">
        <ion-list-header> Hi {{ userData.name }}! </ion-list-header>
          <ion-note> {{ userData.email }} </ion-note>
<!--         <ion-menu-toggle auto-hide="false" *ngFor="let p of pages">
          <ion-item [routerLink]="p.url" routerDirection="root" [class.active-item]="selectedPath === p.url" lines="none" detail="false">
            <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-outline'"></ion-icon>
            <ion-label>{{ p.title }}</ion-label>
          </ion-item> -->

          <ion-menu-toggle auto-hide="false" *ngFor="let p of pages; let i = index">
            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected" [class.active-item]="selectedPath === p.url">
              <ion-icon slot="start" [ios]="p.icon" [md]="p.icon"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>

        </ion-menu-toggle>
      </ion-list>

      <ion-list id="labels-list">

        <ion-list-header>Options</ion-list-header>
        <ion-menu-toggle auto-hide="false" *ngFor="let opt of options; let i = index">
        <ion-item  routerDirection="root" [routerLink]="[opt.url]" lines="none" detail="false" routerLinkActive="selected" [class.active-item]="selectedPath === opt.url">
        <ion-icon slot="start" [ios]="opt.icon" [md]="opt.icon"></ion-icon>
        <ion-label>{{ opt.title }}</ion-label>
        </ion-item>
    </ion-menu-toggle>
    <ion-item button (click)="logOut()" lines="none" detail="false">
      <ion-icon slot="start" lines="none" ios="log-out-outline" md="log-out-outline"></ion-icon>
      <ion-label>Logout</ion-label>
      </ion-item>
    </ion-list>


    </ion-content>
  </ion-menu>




  <ion-router-outlet id="content" main>

  </ion-router-outlet>
</ion-split-pane>
</ion-app>